/* Reset CSS */
     * {
         margin: 0;
         padding: 0;
     }
     
     /* Navbar CSS */
     .nav {
         display:flex; 
         justify-content:center; 
         align-items: center; 
         padding:1rem;
         
         i {
             padding: 10px;
         }
         
         /* Profile CSS */
         .profile {             
             height:40px;
             width:40px; 
             margin-right:10rem;                        
             border-radius: 50%;
             background-color:#0c40eb;
             
             .fa-user {
                 padding: 20px 9px;
                 color: #130ceb;
             }
         }
     }
     
     /* Second Navbar CSS */
     .nav2 {
         display:flex;
         justify-content:center; 
         align-items:center; 
         padding: 1rem;
         
         .panel1,.panel2 {
             display:flex;
             height: 3rem;
             width: 50%;
             margin:0 0.5rem;
             padding: 10px 2px;
             border:2px solid gray;
             border-radius:4px;
             
             p {
                 color:gray;
             }
             
             h5 {
                 color:red;
             }
             
             #num {
                 color:lightgreen;
             }
             
             #num1 {
                 padding: 0;
             }
         }
         
         .img1 {
             height:2rem;
             width:4rem;
             margin:3px;
             background-image: url("img1.jpg");
             background-size: cover;
             border-radius:4px;
         }
         
         .graph2 {
             height:2rem;
             width:4rem;
             margin: 3px;
             background-image: url("img2.jpg");
             background-size: cover;
             border-radius:4px;
         }
     }
     
     /* Nav Image CSS */
     .nav-img {
         display:flex;         
         height:4rem;
         width:85%;
         margin: 0.7rem;
         padding:1rem;
         border-radius:1rem;
         background-color:#C3C3E6;
         
         .symbol {
             height:50px;
             width:50px;
             border: 10px solid #0b297a;
             transform: rotateX(30deg);
             border-radius:50%;
             background-color:#496dd1;
             
             i {
                 padding: 1.5rem 1rem;
                 color: #F3DC97;
             }
         }
         
         button {
             margin: 4px;
             padding: 4px;
             border: none;
             border-radius:1rem;
             background-color:white;
         }
     }
     
     h3 {
         padding: 1rem;
     }
     
     /* Content1 CSS */
     .cont1 {         
                
         
         .inner1 {                          
             display:flex ;
             justify-content: center; 
             align-items: center;
             text-align: center; 
             flex-direction: column;              
             height:14rem;              
             width:98%;
             padding: 2px;
             
             
             a {
                 margin:6px;
             }
             
             
             i {
                 height:20px;
                 width:20px;
                 margin:4px;
                 padding:20px;
                 border:0.1px solid gray;
                 border-radius:50%;
                 color: skyblue;
             }
         }
     }
     
     
     /* Content2 CSS */
     .inner2 {         
         display: flex; 
         justify-content: center; 
         align-items:center;
         gap:5px;
         padding:0.2rem;
         overflow-x:scroll;
         
          
        .ele1 ,.ele2 {
            display: flex; 
            justify-content: center; 
            align-items:center;
            flex-direction:column;
            height:6rem;
            width: 40rem;         
            border: 1px solid gray;
            border-radius:4px;            
            margin-bottom:1rem;
            
            h4 {
                font-size: 13px;
            }
            
            h6 {
                font-size: 2px;
                padding:2px; 
            }
            
            p {
                font-size:0.8rem;
                color:gray;
            }
            
            h5 {
                color:lightgreen;
            }
            
            .Inner {           
              display: flex; 
              justify-content: center; 
              align-items:center;
              gap:1rem;
              padding-top:0.5rem;
              padding-left: 2.6rem;
            }
            
            #I {
                margin:2px;
                padding: 4px;
                color: white;
                background-color:red;
                border:1px solid orange; 
                border-radius:50%;
            } 
        }
     }     
     
     /* Content3 CSS */
     .cont3 {
         background-color:#F0F2EF;
         
       .inner3 {
         display: flex; 
         justify-content: center; 
         align-items:center;
         padding-left:1rem;
         padding: 1rem;
         padding-top:0;
         overflow-x:scroll;
         
         .ele3 {
             padding-left: 1rem;
         } 
         
          .ele3, .ele4, .ele5 {
             height: 6rem;
             width:4rem;             
             margin-left : 0.8rem;
             padding: 1rem 1rem;
             padding-right: 2rem;
             padding-bottom: 2rem;
             background-color:white;
             border-radius:1rem; 
             
             .img3 {
                 height:50px;
                 width:50px;
                 background-image: url("img3.jpg");
             background-size: cover;
             border-radius:4px;
             }
             
             .img4 {
                 height:50px;
                 width:50px;
                 background-image: url("img4.jpg");
             background-size: cover;
             border-radius:4px;
             }
             
             .img5 {
                 height:50px;
                 width:50px;
                 background-image: url("img5.jpg");
             background-size: cover;
             border-radius:4px;
             }
             
             h4 {
                 font-size:0.7rem;
                 padding: 4px 0;
             }
             
             h5 {
                 padding-top:10px;
             }
             
             h6 {
                 color: #42f545;
                 padding:4px 0;
             }
          }
       }
     }
     
     
     /* Content4 CSS */
     .inner4 {
         display: flex; 
         justify-content: center; 
         align-items:center;
         gap: 5px;
         margin: 0 5px;
         margin-bottom :20px;
         overflow-x:scroll;
         
         .Ele1 ,.Ele2 {
             height:8rem;
             width:16rem;            
             display: flex; 
             justify-content: center; 
             align-items:center;
             flex-direction:column; 
             border:1px solid gray;
             border-radius:4px;
             
             p {
                 font-size:10px;                 
                 padding: 4px 0;
                 color: gray; 
             } 
             
             h5 {
                 font-size:0.8rem;                 
             }
             
             h6 {
                 color: #42f545;
             }                     
         }
         
         .subel1 ,.subel2 {
             display: flex; 
             justify-content: center; 
             align-items:center;
         }
         
         .head3 {
             padding: 0 4px;
         }
                          
         .img6 {
             height:50px;
             width:50px;
             margin: 10px;
             background-image: url("img6.jpg");
             background-size: cover;
             border-radius:4px;
         }
         
         .img7 {
             height:50px;
             width:50px;
             margin: 10px;
             background-image: url("img7.jpg");
             background-size: cover;
             border-radius:4px;
         }
     }
     
     /* Content5 CSS */
     .inner5 {
         display: flex; 
         justify-content: center; 
         align-items:center; 
         gap:1rem;        
         padding:1rem;
         overflow-x:scroll;
         
         .ele8 ,.ele9 {
             display: flex; 
             justify-content: center;              
             flex-direction:column;
             
             h5 {
                 padding-top:10px;
             }
             
             p {
                 i {
                     margin-left:35px;
                 }
             }
         } 
         
         .img8 {
             height:10rem;
             width:15rem;
             background-image: url("img8.jpg");
             background-size: cover;
             border-radius:4px;
         }
         
         .img9 {
             height:10rem;
             width:15rem;
             background-image: url("img9.jpg");
             background-size: cover;
             border-radius:4px;
         }         
     }
     
     /* Content6 CSS */ 
     .inner6 {
         display: flex; 
         justify-content: center; 
         align-items:center;
         margin-bottom:6rem;
         gap:10px;
         overflow-x:scroll;
         
         .Ele5 ,.Ele6 {
             display: flex; 
             justify-content: center; 
             align-items:center;
             padding: 5px;
             border:1px solid gray;
             border-radius:4px;
             
         }
         
         h5 {
             padding: 2px;             
             font-size:0.6rem;
         }
         
         .img10 {
             height:50px;
             width:50px;
             background-image: url("img10.jpg");
             background-size: cover;
             border-radius:4px;
         }
         
         .img11 {
             height:50px;
             width:50px;
             background-image: url("img11.jpg");
             background-size: cover;
             border-radius:4px;
         }
         
         .subele6 {
             display: flex; 
             justify-content: center; 
             align-items:center;
             
             button {
                border:none;
                margin-left:2rem;
                padding: 4px; 
                background-color:#c4e2f5; 
                color: blue;          
                border-radius:2px;
             }                         
         }
         
         .subel7 {
             height:10px;
             width:10px;
             padding: 10px;
             border-radius:50%;
             background-color:#c4e2f5;
         }
     }
     
     /* Footer CSS */
     .footer-icon {
         position:fixed;
         bottom: 0; 
         height: 4rem;
         width:100%;         
         background-color:#fff;
         color:gray;
         border: 1px solid #F7F4F3;
         display: flex; 
         justify-content: space-evenly; 
         align-items: center; 
     } 
     
     i {
         padding-left: 34%;
     }